<!DOCTYPE html>
<html>
<head>
    <title>My App - Stats</title>
</head>
<body>
    <h1>Statistics of vacancies</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
            <tr>
                <td>{{ vacancy.id }}</td>
                <td>{{ vacancy.title }}</td>
                <td>{{ vacancy.description }}</td>
                <td>{{ vacancy.salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
